ion-row{
    button{
        width: 90%;
        
    }
    ion-col{
        padding-left: 0 !important;
        padding-right:0 !important;
        padding-top:0 !important;
        padding-bottom: 0 !important;
    }
}